@media (max-width:991px) {
    #mobileMenu {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    li.d-flex a::before {
        content: "";
        position: absolute;
        border: 1px solid var(--gray-scale-gray-200);
        height: 20px;
        left: -8px;
        top: 5px;
    }

    li.d-flex .counter {
        position: absolute;
        top: 3px;
        left: 30px;
        border: 1px solid var(--gray-scale-white);
        border-radius: 16px;
        width: 18px;
        height: 18px;
        background-color: var(--branding-success-dark);
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        color: var(--gray-scale-white);
        z-index: 1;
    }

    .menuBtn {
        border: none;
        background: transparent;
    }

    .offcanvas {
        transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
    }

    .offcanvas-header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .offcanvasMenu ul li {
        margin-top: 18px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: var(--gray-scale-gray-500);

        &:hover {
            color: var(--branding-success);
        }
    }

    .socialIcon {
        margin-top: 100px;
        margin-left: 25px;
    }

    .socialIcon a:hover {
        color: var(--branding-success);
    }

    /* catagory submenu start */

    .offcanvasMenu .subMenu button {
        border: none;
        background: transparent;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: var(--gray-scale-gray-500);

        &:hover {
            color: var(--branding-success);
        }
    }

    .offcanvasMenu .subMenu .mobileSubmenu {
        padding: 2px 0 10px 15px;
        display: none;
        background-color: var(--gray-scale-gray-50);
        width: 100%;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }

    .offcanvasMenu .subMenu .mobileSubmenu a {
        font-size: 16px;

    }

    /* cart offcanvas start */
    .cartOffcanvas .cartContant {
        width: 80vw !important;
    }

    .cartOffcanvas.active .cartContant {
        transform: translateX(27vw);
    }

    .cartContant .cartHeader p {
        font-size: 18px;
    }

    .cartContant .cartHeader button {
        font-size: 16px;
    }

    .cartContant .cartDetails p {
        font-size: 25px;
    }

    .cartContant .cartDetails button {
        width: 180px;
        height: 45px;
        font-size: 14px;
    }

    /* serch product aside start */
    .productSearch {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        inset: 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s
    }

    .active {
        opacity: 1;
        visibility: visible;
    }

    .productSearch .searchContant {
        width: inherit;
        height: 60vh;
        background-color: #fff;
        transform: translateY(-100%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
  

    .productSearch.active .searchContant {
        transform: translateY(0);
        transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .productSearch .closeSearch {
       margin-top: 10px;
        border: none;
        background: transparent;
        align-self: self-end;
        font-size: 22px;

    }
.productSearch .closeSearch:hover{
    color: red;
}

input[name="search-products"]{
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 2px solid var(--gray-scale-gray-500);
    padding: 10px;
    outline-color: var(--gray-scale-gray-50);
    border-radius: 15px;
    
    
}
input[name="search-products"]::placeholder{
    font-size: 20px;
    padding: 7px;
}

/* banner section start */
#banner{
    background-image: none;
    padding-bottom: 30px;
}
.bannerSlide .bannerTxt h2 {
    font-size: 40px;
}
.bannerTxt{
    margin-top: 20px;
    margin-bottom: 30px;
}
.primary-btn{
    
    padding: 13px 35px;
    font-size: 14px;
}
.slick-dots{
    display: none;
}
.slick-dots li button{
    display: none;
}
.bannerSlide .bannerTxt h5,.bannerSlide .bannerTxt h5 span{
    font-size: 25px;
    margin: 15px 0 8px;
}
/* banner section end */
/* support start */
#support .contants{
   padding: 15px 0 15px 10px;
}
#support .contants h5{
    font-size: 13px;
}
#support .contants p{
    font-size: 11px;
}
#support .contants iconify-icon{
    font-size: 28px;
    padding: 8px;
}
/* support end */
/* product section start */
#puoducts{
    padding: 50px 0;
}
.productsHeader h2{
    font-size: 28px;
}
.productsHeader ul li a{
    font-size: 13px;
    font-weight: 300;
    padding:6px;
}
.productIntro{
    margin-top: 25px;
}
/* product section end */

/* drink section start */
#drink{
    padding: 50px 0;
}
#drink .drinkTxt{
    margin-bottom: 20px;
}
/* drink section end */

/* countdown deal start */
#countdownDeal{
    padding-bottom: 40px;
}
#countdownDeal .text-center h3{
    font-size: 30px;
}
#countdownDeal .time span{
    padding: 25px;
&>h5{
    font-size: 30px;
}
&>p{
    font-size: 14px;
}
}
/* countdown deal end */
/* featured products start */
#featuredProduct{
    padding: 50px 0;
}
.featuredHeading h2 {
    font-size: 35px;
}
/* featured products start */
/* testomonial start */
#testomonial{
    padding: 50px 0;
}
#testomonial .clintImg img{
    margin-left: 42%;
}
/* testomonial end */
/* news section start */

#news {
    padding: 50px 0;
}
/* news section end */
/* newsLatter section start */
#newsLatter h5{
    padding-left: 0;
    margin-bottom: 10px;
}
#newsLatter p {
    padding-left:0 ;
    margin-bottom: 30px;
}
#newsLatter form input{
    padding: 7px 20px;
     &::placeholder {
        font-size: 14px;
     }
}
#newsLatter form .subBtn{
    padding: 10px 20px;
    font-size: 13px;
    right: 0;
    top: 2px;
}
/* newsLatter section end */
/* footer start */
#footer{
    padding-top: 50px;
}
#footer .contactLinks{
    padding-inline-start: 70px;
    margin-block-end: 30px;
}
#footer .col-lg-2{
    margin-block-end: 20px;
}
.instaImg{
    padding-inline: 70px;
}

.socialIcon{
    margin-block-end: 30px;
    margin-block-start: 0;
    padding-left: 60px;
}
.socialIcon a:hover,
.socialIcon a.active:hover {

    border-radius: 50%;
    background-color: var(--branding-success);
    color: var(--gray-scale-white);
}

.paymentIcons{
    margin-block-end: 30px;
}
.copyRight{
    border-top: 1px solid var(--gren-gray-scale-300);
    padding: 20px 0 0;
}
/* footer end */




}